@model IEnumerable<LMS_Grupp4.Models.LMS_Models.LMSFile>

@{
    ViewBag.Title = "Files";
}

<h2>My Files</h2>

<table class="table">
    <tr>
        <th>
            File name     
        </th>
        <th>
            Upload date
        </th>
        <th>
            Size
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(file => item.Name)
            </td>
            <td>
                @Html.DisplayFor(file => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(file => item.Size) KB
            </td>
        </tr>
    }

</table>