@using LMS_Grupp4.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <h1>You are logged in as Student: @User.Identity.GetUserRealName()</h1>
    <small>ID: @ViewBag.UserID</small>
</div>