@using LMS_Grupp4.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <h1>You are logged in as Student: @User.Identity.GetUserRealName()</h1>
    <small>ID: @ViewBag.UserID</small>
</div>

   
<td>
    @Html.ActionLink("My Courses", "Courses", new { id = User.Identity.GetUserId() }) |
    @Html.ActionLink("My Programs", "ProgramClasses", new { id = User.Identity.GetUserId() })
</td>
     