
@{
    ViewBag.Title = "Action Forbidden";
}
<div class="alert alert-warning">
    <h2>Action Forbidden!</h2>
    <p>
        You are not the author of the course and cannot edit or delete it.<br />
        Please refer to the course author.
    </p>
    <hr />
    <a href="@Url.Action("Index", "Course")">Return To Course List</a>
</div>


