@model IEnumerable<LMS_Grupp4.Models.LMS_Models.Course>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Courses";
}

<h1>My Courses</h1>

<table class="table">
    <tr>
        <th>
            Course
        </th>
        <th>
            Description
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(course => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(course => item.Description)
            </td>
        </tr>
    }

</table>

<p>
    <a href="@Url.Action("Create", "Course")">Create Course</a>
</p>