@model IEnumerable<LMS_Grupp4.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <h1>Index</h1>
    <h2>You are logged in as Teacher: @User.Identity.GetUserRealName()</h2>
    <small>ID: @ViewBag.UserID</small>
</div>