@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="jumbotron">
    <h1>Learning Management System</h1>
    <p class="lead">This is a basic LMS designed to work as a e-learning platform with all basic functionalities.</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>HTTP error 400: Bad request.</h2>
    </div>
</div>    
