@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="jumbotron">
    <h1>Learning Management System</h1>
    <p class="lead">This is a basic LMS designed to work as a e-learning platform with all basic functionalities.</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <div class="alert alert-danger">
            <h2>An Error Has Occurred</h2>
            <hr />
            <blockquote>
                <p>
                    The server returned an error 401: Unauthorized.
                </p>
                <p>
                    Please verify that you have the right credentials and try again.<br />
                    If this error persists, <a href="@Url.Action("Contact", "Home")" title="Contact us">contact us.</a>
                </p>
                <p>
                    We are sorry for any inconvenience caused.
                </p>
                <small>LMS Dev Team</small>
            </blockquote>
        </div>
    </div>
    <div class="col-md-3">
        <img src="~/Content/sadness.png" alt="Sadness" style="max-width: 100%" />
    </div>
</div>
