
@{
    ViewBag.Title = "Exception";
}

<div class="jumbotron">
    <h1>Learning Management System</h1>
    <p class="lead">This is a basic LMS designed to work as a e-learning platform with all basic functionalities.</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <div class="alert alert-warning">
            <h2>An Unexpected Error Has Occurred</h2>
            <hr />
            <blockquote>
                <p>
                    The server encountered an unexpected error.<br />
                    Refer to the error details for more information.<br />
                    If this error persists, <a href="@Url.Action("Contact", "Home")" title="Contact us">contact us.</a>
                </p>
                <hr />
                <h4>Error Details</h4>
                <p class="well well-sm">
                    @ViewBag.ErrorMessage
                </p>
                <p>
                    We are sorry for any inconvenience caused.
                </p>
                <small>LMS Dev Team</small>
            </blockquote>
        </div>
    </div>
    <div class="col-md-3">
        <img src="~/Content/sadness.png" alt="Sadness" style="max-width: 100%" />
    </div>
</div>    